<div class="container">
  <div class="row">
    <!--start row-->
    <div class="col-md-3 col-sm-3">
      <a href=""
        ><img src="assets/images/logo-black.png" alt="" class="footer-logo"
      /></a>
      <ul class="list-inline social-icons">
        <li>
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2">
      <h6>For individuals</h6>
      <ul class="footer-links">
        <li><a href="">Signup</a></li>
        <li><a href="">login</a></li>
        <li><a href="">Explore</a></li>
        <li><a href="">Finder app</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Language settings</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2">
      <h6>For businesses</h6>
      <ul class="footer-links">
        <li><a href="">Business signup</a></li>
        <li><a href="">Business login</a></li>
        <li><a href="">Benefits</a></li>
        <li><a href="">Resources</a></li>
        <li><a href="">Advertise</a></li>
        <li><a href="">Setup</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2">
      <h6>About</h6>
      <ul class="footer-links">
        <li><a href="">About us</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Help</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3">
      <h6>Contact Us</h6>
      <ul class="contact">
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i>+1 (234) 222 0754
        </li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i
          >info@thunder-team.com
        </li>
        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i>228 Park Ave
          S NY, USA
        </li>
      </ul>
    </div>
  </div>
  <!--end row-->
</div>

<div class="copyright">
  <p>copyright @thunder-team 2016. All rights reserved</p>
</div>
