 <!--start leftbar- photo-card -->
 <div class="profile-card">
  <img src="assets/images/users/user-1.jpg" alt="user" class="profile-photo" />
  <h5><a href="timeline.html" class="text-white">Sarah Cruiz</a></h5>
  <a href="#" class="text-white"><i class="fa fa-user-plus" aria-hidden="true"></i> 1,299 followers</a>
</div>
<!--end leftbar- photo-card -->

<!--start leftbar- feed -->
<div class="feed">
      <ul class="nav-news-feed">
        <li>
         <i class="fa-solid fa-newspaper"></i>
          <a href="newsfeed.html">My Newsfeed</a>
        </li>
        <li>
          <i class="fa fa-user" aria-hidden="true"></i>
          <a href="newsfeed-people-nearby.html">People Nearby</a>
        </li>
        <li>
          <i class="fa fa-users" aria-hidden="true"></i>
          <a href="newsfeed-friends.html">Friends</a>
        </li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="newsfeed-messages.html">Messages</a>
        </li>
        <li>
         <i class="fa-solid fa-image"></i>
          <a href="newsfeed-images.html">Images</a>
        </li>
        <li>
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          <a href="newsfeed-videos.html">Videos</a>
        </li>
      </ul>
  </div>
  <!--end leftbar- feed -->

    <!--start leftbar-chat-->
    <div id="chat-block">
      <div class="title">Chat online</div>
      <div class="container">
        <ul class="online-users list-inline">
          <div class="row">
            <div class="col-md-4">
              <li>
                <a href="newsfeed-messages.html" title="Linda Lohan">
                  <img src="assets/images/users/user-2.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
              <li>
                <a href="newsfeed-messages.html" title="Sophia Lee">
                  <img src="assets/images/users/user-3.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
              <li>
                <a href="newsfeed-messages.html" title="John Doe">
                  <img src="assets/images/users/user-4.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
            </div>
            <div class="col-md-4">
              <li>
                <a href="newsfeed-messages.html" title="Alexis Clark">
                  <img src="assets/images/users/user-5.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
              <li>
                <a href="newsfeed-messages.html" title="James Carter">
                  <img src="assets/images/users/user-6.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
              <li>
                <a href="newsfeed-messages.html" title="Robert Cook">
                  <img src="assets/images/users/user-7.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
            </div>
            <div class="col-md-4">
              <li>
                <a href="newsfeed-messages.html" title="Richard Bell">
                  <img src="assets/images/users/user-8.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
              <li>
                <a href="newsfeed-messages.html" title="Anna Young">
                  <img src="assets/images/users/user-9.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
              <li>
                <a href="newsfeed-messages.html" title="Julia Cox">
                  <img src="assets/images/users/user-10.jpg" alt="user" class="img-responsive profile-photo" />
                  <span class="online-dot"></span>
                </a>
              </li>
            </div>
          </div>
        </ul>
      </div>

    </div>
    <!--end leftbar-chat-->
