 <div class="container">
  <div class="row">

    <div class="col-md-3">
       <!--start left-side-->
         <aside id="left-side">
           <app-left></app-left>
         </aside>
       <!--end left-side-->
    </div>

    <div class="col-md-6">
       <!--start publish-->
        <div id="publish">
          <app-publish></app-publish>
        </div>
       <!--end publish-->

       <!--start main-->
        <main id="main">
          <app-main></app-main>
        </main>
        <!--end main-->
    </div>
    <div class="col-md-3">
      <!--start right-side-->
        <aside id="right-side">
          <app-right></app-right>
        </aside>
        <!--end right-side-->
    </div>
  </div>
 </div>













