<div class="container create-post">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-md" />
        <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="tools">
        <ul class="publishing-tools list-inline">
          <li><a href="#"><i class="fa-sharp fa-solid fa-square-pen"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-image"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-camera"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-map-location-dot"></i></a></li>
        </ul>
        <button class="btn btn-primary pull-right">Publish</button>
      </div>
    </div>
  </div>
</div>
